<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">TinCanDan's Blog</h1>
    <p class="lead blog-description">A simple blog about the tips and tricks I have learned during my bootcamp.(Update later)</p>

    <% if logged_in?(:site_admin) %>
      <%= link_to new_blog_path, class: "btn btn-primary" do %><i class="fa fa-pencil"></i> Write A New Blog Post
      <% end %>
    <% end %>
  </div>
</div>



