<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    
    <h1>Hello My Name Is Dan!</h1>


    <p>I am currently going through a bootcamp to become a jr web developer. My goal is to become the best I can can be at what I do and am constantly reading up and trying to better myself in the many languages I am learning . I do believe hardwork and communication will be key for me key to become a strong developer in the future.</p>

    <p></p>

   
  </div>
</div>




